:root {
  background-color: rgb(185, 226, 203);
  padding: 10px;
  border: 24px;
}
audio,
video {
  display: block;
  margin-bottom: 20px;
}

video {
  width: 600px;
  height: 400px;
}

button {
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 12px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  scale: 0.9;
}
