* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
/* i added in 'cursor: pointer' meaning that buttons are interactive. */

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

video {
  display: block;
  max-width: 100%;
  height: auto;
}
/* I made the display into block with max-width of 100% to ensure that the video scales properly within the container and does not overflow on the webpage.*/
