/* https://mycolor.space/
  this is the link that I used to pick my color scheme. I used this website
    because it could provide me with a range of colour choices. Therefore I
    picked this classy colour palette, exisiting of five colours
  #B8D4F8,#3C4856, #A0ACBD, #EBB9CA, #B38494. These five colours are also very alike the website 'Luniapp' aesthic feeling, therefore i choose these colours to match*/

img {
  display: block;
  margin: 20px auto;
  /* i have decided to center the image, therefore set the margin to 20px */
  max-width: 100%;
  height: auto;
}
ul {
  color: #3c4856;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  font-size: 1.1rem;
  text-align: center;
  margin: 0 auto;
  background-color: #b8d4f8; /* I wanted a soft blue background to give a gentle and modern type of vibe*/
}

h1 {
  font-weight: bold;
  /* i want to make the main heading strong + visible with bold text and larger font size. */
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #3c4856; /* Navy Blue background */
}
p {
  width: 70%;
  max-width: 800px;
  min-height: 300px;
  margin: 30px auto;
  padding: 30px;

  background-color: white;
  border: 5px solid #3c4856; /* dark border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  /* i decided to make the box's background colour different, just to make it look less boring and easy to read */

  color: #3c4856;
  font-size: 1.2rem;
  line-height: 1.6;
}
/* Ive decided to use white background to make the text stand out from the blue background. */
/* I have set the border radius to 12px for rounded corners, to make it feel softer and friendlier. */
/* I used the asset from https://www.w3schools.com/html/ to assit me with the border dimensions.  */

.border-darkblue {
  border: 4px solid #3c4856;
}

.border-gray {
  border: 4px dashed #a0acbd;
}

.border-pink {
  border: 4px dotted #ebb9ca;
}

.border-rose {
  border: 4px dashed #b38494;
}
/* I made the border weight 4px since I want to make it visibal and obvious */
/* just to make it more interesting, I added variety and interest. For an example: i made the border dotted or dashed instead of all solid lines, which adds texture and not just colour */
