/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
  gap: 1.5rem;
}

.outer {
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 1;
  /* background-color: cornsilk; */
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}

button {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #007bff;
  border: none;
  transition: background-color 0.4 ease, scale 0.4s ease, rotate 0.4s ease;
  /* 'ease' is mathemathical formula (smooth out the edges)
    use ease or linear */
}

button:hover {
  background-color: aqua;
  scale: 0.9;
  rotate: -10deg;
}

input {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 5px;
  border-radius: 10px;
  width: 8rem;
  border: 6px solid crimson;
  transition: border-color 0.5s linear, translate 0.4s linear;
  /* translate 0.5 linear */
}

input:hover {
  border-color: coral;
  /* translate: 10px 20px; */
}

#duck-icon {
  cursor: pointer;
  transition: fill 0.4s ease;
}

#duck-icon:hover {
  fill: #007bff;
  /* (not background color because in html it says 'fill') */
}

#my-duck {
  transition: scale 0.4s ease, translate 0.4s ease;
}

#my-duck:hover {
  scale: 0.9;
}

.box {
  background-color: blueviolet;
  animation-name: box-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-duration: linear;
  border: 6px dashed plum;
}

@keyframes box-animation {
  0% {
    background-color: blueviolet;
  }
  20% {
    background-color: coral;
  }
  40% {
    background-color: blue;
  }
  60% {
    background-color: limegreen;
  }
  80% {
    background-color: yellow;
  }
  100% {
    background-color: blueviolet;
  }
}

#my-duck {
  /* animation-name: bounce;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; */
  animation: bounce 3s ease infinite;
  /* this is the fast and easy way */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  100% {
    translate: 0px 0px;
    /* dont need quotation marks here */
  }
  40% {
    translate: 0px -30px;
  }
  60% {
    translate: 0px -16px;
  }
}

.spinner {
  width: 100px;
  height: 100px;
  border: 4px solid cornflowerblue;
  border-top-color: crimson;
  /* border-bottom-color: palegreen; */
  animation-name: loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 50%;
}

@keyframes loading {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

#my-heart {
  width: 80px;
  height: 80px;
  animation: beat 2s ease infinite;
}

@keyframes beat {
  0% {
    scale: 0.9;
  }
  50% {
    scale: 1.1;
    rotate: 360deg;
  }
  60% {
    scale: 0.9;
  }
}
