body {
  font-size: 1.1rem;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  border: 1px solid crimson;
  width: 400px;
  min-height: 400px;
  margin: 0 auto;
  /* horizonal centering */
  /* padding-left: 30px;
    padding-top: 40px; */
  /* T R B L */
  /* padding: 2px 30px 40px 50px;
    padding: 20px */
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 2px dashed green;
}

.vcentre {
  line-height: 360px;
  /* height - top padding - bottom padding 
    400 - 20 - 20 = 360 */
}

span {
  color: blueviolet;
  /* display: block; */
  /* display: none; */
}
